input[type="text"] {font:15px/24px 'Muli', sans-serif; color: #333; width: 100%; box-sizing: border-box;letter-spacing: 1px;}

:focus {outline: none;}

.col-3 {float:left;width: 27.33%; margin: 40px 3%; position: relative;}

.ipt-underline-from-left,
.ipt-underline-from-center,
.ipt-underline-from-right { border: 0; paddig: 7px 0; border-bottom: 1px solid #ccc;}

.ipt-underline-from-left ~ .ipt-focus { position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background-color: #4caf50; transition: 0.4s;}
.ipt-underline-from-left:focus ~ .ipt-focus { width: 100%; }

.ipt-underline-from-center ~ .ipt-focus { position: absolute; bottom: 0; left: 50%; width: 0; height: 2px; background-color: #4caf50; transition: 0.4s;}
.ipt-underline-from-center:focus ~ .ipt-focus { width: 100%; left: 0;}

.ipt-underline-from-right ~ .ipt-focus { position: absolute; bottom: 0; left: 100%; width: 0; height: 2px; background-color: #4caf50; transition:0.4s;}
.ipt-underline-from-right:focus ~ .ipt-focus { width: 100%; left: 0;}

.ipt-border-from-bottom,
.ipt-border-from-left,
.ipt-border-from-right { border: 0; padding: 5px 0 7px; border: 1px solid transparent; border-bottom-color: #ccc; transition: 0.4s;}

.ipt-border-from-bottom:focus,
.ipt-border-from-left:focus,
.ipt-border-from-right:focus { padding: 5px 14px 7px; transition: 0.4s }

.ipt-border-from-bottom ~ .ipt-focus { position: absolute; height: 0; bottom: 0;left: 0; width: 100%; transition: 0.4s; z-index: -1; }
.ipt-border-from-bottom:focus ~ .ipt-focus { height: 36px; border: 2px solid #4caf50; z-index: 1; }

.ipt-border-from-left ~ .ipt-focus { position: absolute; height: 36px; bottom: 0; left: 0; width: 0; transition: 0.4s; }
.ipt-border-from-left:focus ~ .ipt-focus { width: 100%; border: 2px solid #4caf50;}

.ipt-border-from-right ~ .ipt-focus { position: absolute; height: 36px; bottom: 0; right: 0; width: 0; transition: 0.4s; }
.ipt-border-from-right:focus ~ .ipt-focus { width: 100%; border: 2px solid #4caf50; }

.ipt-border-from-center,
.ipt-border-from-pointers,
.ipt-border-from-pointer { border: 1px solid #ccc; padding: 7px 14px 9px; }

.ipt-border-from-center ~ .ipt-focus:before,
.ipt-border-from-center ~ .ipt-focus:after { content: ''; position: absolute; top: 0; left: 50%; width: 0; height: 2px; background-color: #4caf50; transition: 0.4s; }
.ipt-border-from-center ~ .ipt-focus:after { top: auto; bottom: 0;}
.ipt-border-from-center ~ .ipt-focus i:before,
.ipt-border-from-center ~ .ipt-focus i:after { content: ''; position: absolute; top: 50%; left: 0; width: 2px; height: 0; background-color: #4caf50; transition: 0.6s; }
.ipt-border-from-center ~ .ipt-focus i:after { left: auto; right: 0; }
.ipt-border-from-center:focus ~ .ipt-focus:before,
.ipt-border-from-center:focus ~ .ipt-focus:after { left: 0; width: 100%; }
.ipt-border-from-center:focus ~ .ipt-focus i:before,
.ipt-border-from-center:focus ~ .ipt-focus i:after { top: 0; height: 100%;}

.ipt-border-from-pointers ~ .ipt-focus:before,
.ipt-border-from-pointers ~ .ipt-focus:after { content: ''; position: absolute; top: 0; left: 0; width: 0; height: 2px; background-color: #4caf50; transition: 0.3s; }
.ipt-border-from-pointers ~ .ipt-focus:after { top: auto; bottom: 0; left: auto; right: 0; }
.ipt-border-from-pointers ~ .ipt-focus i:before,
.ipt-border-from-pointers ~ .ipt-focus i:after { content: ''; position: absolute; top: 0; left: 0; width: 2px; height: 0; background-color: #4caf50; transition: 0.4s; }
.ipt-border-from-pointers ~ .ipt-focus i:after { left: auto; right: 0; top: auto; bottom: 0;}
.ipt-border-from-pointers:focus ~ .ipt-focus:before,
.ipt-border-from-pointers:focus ~ .ipt-focus:after { width: 100%; }
.ipt-border-from-pointers:focus ~ .ipt-focus i:before,
.ipt-border-from-pointers:focus ~ .ipt-focus i:after { height: 100%; }

.ipt-border-from-pointer ~ .ipt-focus:before,
.ipt-border-from-pointer ~ .ipt-focus:after { content: ''; position: absolute; top: 0; right: 0; width: 0; height: 2px; background-color: #4caf50; transition: 0.2s; }
.ipt-border-from-pointer ~ .ipt-focus:after { top: auto; bottom: 0; right: auto; left: 0; transition-delay: 0.4s; }
.ipt-border-from-pointer ~ .ipt-focus i:before,
.ipt-border-from-pointer ~ .ipt-focus i:after { content: ''; position: absolute; top: 0; left: 0; width: 2px; height: 0; background-color: #4caf50; transition: 0.2s; transition-delay: 0.6s; }
.ipt-border-from-pointer ~ .ipt-focus i:after { left: auto; right: 0; top: auto; bottom: 0; transition-delay: 0.2s; }
.ipt-border-from-pointer:focus ~ .ipt-focus:before,
.ipt-border-from-pointer:focus ~ .ipt-focus:after { width: 100%; transition: 0.2s; transition-delay: 0.6s;}
.ipt-border-from-pointer:focus ~ .ipt-focus:after { transition-delay: 0.2s; }
.ipt-border-from-pointer:focus ~ .ipt-focus i:before,
.ipt-border-from-pointer:focus ~ .ipt-focus i:after { height: 100%; transition: 0.2s; }
.ipt-border-from-pointer:focus ~ .ipt-focus i:after { transition-delay: 0.4s; }

.ipt-background-slide-in,
.ipt-background-from-left,
.ipt-background-from-center,
.ipt-background-from-left-and-right,
.ipt-background-from-pointers,
.ipt-background-from-center-pointer { padding: 7px 15px; border: 1px solid #ccc; position: relative; background: transparent; }

.ipt-background-slide-in ~ .ipt-focus { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #ededed; opacity: 0; transition: 0.5s; z-index: -1; }
.ipt-background-slide-in:focus ~ .ipt-focus { opacity: 1; }

.ipt-background-from-left ~ .ipt-focus { position: absolute; left: 0; top: 0; width: 0; height: 100%; background: #ededed; transition: 0.3s; z-index: -1; }
.ipt-background-from-left:focus ~ .ipt-focus { width: 100%; }

.ipt-background-from-center ~ .ipt-focus { position: absolute; left: 50%; top: 0; width: 0; height: 100%; background-color: #ededed; transition: 0.3s; z-index: -1; }
.ipt-background-from-center:focus ~ .ipt-focus { width: 100%; left: 0; }

.ipt-background-from-left-and-right ~ .ipt-focus:before,
.ipt-background-from-left-and-right ~ .ipt-focus:after{ content: ''; position: absolute; left: 0; top: 0; width: 0; height: 100%; background: #ededed; transition: 0.3s; z-index: -1; }
.ipt-background-from-left-and-right ~ .ipt-focus:after { left: auto; right: 0; }
.ipt-background-from-left-and-right:focus ~ .ipt-focus:before,
.ipt-background-from-left-and-right:focus ~ .ipt-focus:after { width: 50%; }

.ipt-background-from-pointers ~ .ipt-focus:before,
.ipt-background-from-pointers ~ .ipt-focus:after { content: ''; position: absolute; top: 0; left: 0; width: 0; height: 0; background-color: #ededed; transition: 0.3s; z-index: -1; }
.ipt-background-from-pointers ~ .ipt-focus:after { top: auto; bottom: 0; left: auto; right: 0;}
.ipt-background-from-pointers:focus ~ .ipt-focus:before,
.ipt-background-from-pointers:focus ~ .ipt-focus:after { width: 50%; height: 100%; }

.ipt-background-from-center-pointer ~ .ipt-focus:before,
.ipt-background-from-center-pointer ~ .ipt-focus:after { content: ''; position: absolute; top: 50%; left: 50%; width: 0; height: 0; background-color:#ededed; transition: 0.3s; z-index: -1; }
.ipt-background-from-center-pointer ~ .ipt-focus:after { left: auto; right: 50%; top: auto; bottom: 50%; }
.ipt-background-from-center-pointer:focus ~ .ipt-focus:before { width: 50%; height: 100%; top: 0; left: 0;}
.ipt-background-from-center-pointer:focus ~ .ipt-focus:after { width: 50%; height: 100%; bottom: 0; right: 0;}

.ipt-label-with-underline-from-left { border: 0; padding: 4px 0; border-bottom: 1px solid #ccc; background-color: transparent;}
.ipt-label-with-underline-from-left ~ .ipt-focus { position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background-color: #4caf50; transition: 0.4s; }
.ipt-label-with-underline-from-left ~ label { position: absolute; left: 0; top: 9px; width: 100%; color: #aaa; transition: 0.3s; z-index: -1; letter-spacing: 0.5px; }
.ipt-label-with-underline-from-left:focus ~ .ipt-focus { width: 100%; }
.ipt-label-with-underline-from-left:focus ~ label { top: -16px; font-size: 12px; color: #4caf50; }

.ipt-label-with-border-from-center { border: 1px solid #ccc; padding: 7px 14px; transition: 0.4s; background: transparent; }
.ipt-label-with-border-from-center ~ .ipt-focus:before,
.ipt-label-with-border-from-center ~ .ipt-focus:after { content: ''; position: absolute;top: -1px; left: 50%; width: 0; height: 2px; background-color: #4caf50; transition:0.4s; }
.ipt-label-with-border-from-center ~ .ipt-focus:after{ top: auto; bottom: 0; }
.ipt-label-with-border-from-center ~ .ipt-focus i:before,
.ipt-label-with-border-from-center ~ .ipt-focus i:after { content: ''; position: absolute; top: 50%; left: 0; width: 2px; height: 0; background-color: #4caf50; transition: 0.6s; }
.ipt-label-with-border-from-center ~ .ipt-focus i:after { left: auto; right: 0; }
.ipt-label-with-border-from-center ~ label { position: absolute; top: 10px; left: 14px; width: 100%; color: #aaa; transition: 0.3s; z-index: -1; letter-spacing: 0.5px; }
.ipt-label-with-border-from-center:focus ~ .ipt-focus:before,
.ipt-label-with-border-from-center:focus ~ .ipt-focus:after { left: 0; width: 100%; }
.ipt-label-with-border-from-center:focus ~ .ipt-focus i:before,
.ipt-label-with-border-from-center:focus ~ .ipt-focus i:after { top: -1px; height: 100%; }
.ipt-label-with-border-from-center:focus ~ label { top: -18px; left: 0; font-size: 12px; color: #4caf50; }

.ipt-label-with-background-from-left { border: 0; padding: 7px 15px; border: 1px solid #ccc; position: relative; background: transparent; }
.ipt-label-with-background-from-left ~ .ipt-focus { position: absolute; left: 0; top: 0; width: 0; height: 100%; background-color: transparent; transition: 0.4s; z-index: -1; }
.ipt-label-with-background-from-left ~ label { position: absolute; left: 14px; top: 10px; width: 100%; color: #aaa; transition: 0.3s; z-index: -1; letter-spacing: 0.5px; }
.ipt-label-with-background-from-left:focus ~ .ipt-focus { width: 100%; background-color: #ededed; }
.ipt-label-with-background-from-left:focus ~ label { top: -18px; left: 0; font-size: 12px; color: #4caf50; }

.ipt-label-with-basic-slide { padding: 7px 15px; border: 1px solid #ccc; text-indent: 70px; transition: all 0.3s ease-in-out; position: relative; }
.ipt-label-with-basic-slide ~ label { display: inline-block; position: absolute; top: 0; left: 0; padding: 10px 15px; background-color: #4caf50; transition: all 0.3s ease-in-out; }
.ipt-label-with-basic-slide:focus { text-indent: 0; }
.ipt-label-with-basic-slide:focus ~ label { transform: translateX(-100%); }

.ipt-label-with-clear-slide { padding: 7px 15px; border: 1px solid #ccc; position: relative; text-indent: 70px; transition: all 0.3s ease-in-out; }
.ipt-label-with-clear-slide ~ label { display: inline-block; position: absolute; top: 0; left: 0; padding: 10px 15px; transition: all 0.3s ease-in-out; }
.ipt-label-with-clear-slide:focus { text-indent: 0; }
.ipt-label-with-clear-slide:focus ~ label { transform: translateX(-100%); background-color: #4caf50;}

.ipt-label-with-rotate { padding: 7px 15px; border: 1px solid #ccc; text-indent: 70px; transition: all 0.3s ease-in-out; position: relative; }
.ipt-label-with-rotate ~ label { display: inline-block; position: absolute; top: 0; left: 0; padding: 10px 15px; background-color: #4caf50; transition: all 0.3s ease-in-out; transform-origin: left bottom;}
.ipt-label-with-rotate:focus { text-indent: 0; }
.ipt-label-with-rotate:focus ~ label { transform: rotate(-66deg); }

.ipt-label-slide-up { padding: 7px 15px; border: 1px solid #ccc; text-indent: 70px; transition: all 0.3s ease-in-out; position: relative; }
.ipt-label-slide-up ~ label { display: inline-block; position: absolute; top: 0; left: 0; padding: 10px 15px; background-color: #4caf50; transition: all 0.3s ease-in-out; transform-origin: left bottom;}
.ipt-label-slide-up:focus { text-indent: 0; }
.ipt-label-slide-up:focus ~ label { transform: translateY(-100%); }

.ipt-label-slide-perspective { padding: 7px 15px; border: 1px solid #ccc; text-indent: 70px; transition: all 0.3s ease-in-out; position: relative; }
.ipt-label-slide-perspective ~ label { display: inline-block; position: absolute; top: 0; left: 0; padding: 10px 15px; background-color: #4caf50; transition: all 0.3s ease-in-out; transform-origin: right center; transform: perspective(300px) scaleX(1) rotateY(0deg);}
.ipt-label-slide-perspective:focus { text-indent: 0; }
.ipt-label-slide-perspective:focus ~ label { transform: perspective(600px) translateX(-100%) rotateY(80deg); }

.ipt-label-slide-swing { padding: 7px 15px; border: 1px solid #ccc; text-indent: 70px; transition: all 0.3s ease-in-out; position: relative; }
.ipt-label-slide-swing ~ label { display: inline-block; position: absolute; top: 0; left: 0; padding: 10px 15px; background-color: #4caf50; animation: swing-back .4s 1 ease-in-out; transform-origin: top left;}
.ipt-label-slide-swing:focus { text-indent: 0; }
.ipt-label-slide-swing:focus ~ label { animation: swing 1.4s 1 ease-in-out; transform: rotate(82deg); }

@keyframes swing {
    0% { transform: rotate(0); }
    20% { transform: rotate(116deg); }
    40% { transform: rotate(60deg); }
    60% { transform: rotate(98deg); }
    80% { transform: rotate(76deg); }
    100% { transform: rotate(82deg); }
}
@keyframes swing-back {
    0% { transform: rotate(82deg); }
    100% { transform: rotate(0); }
}